body{
   background-image: linear-gradient(to right,#F6ea41,#F048c6);
}
.cal{
    height: fit-content; 
    width: 300px;
    flex-direction: column;
    background-color: rgb(235, 235, 241);
    justify-content: space-between;
    margin-top: 150px;
   border-radius: 15px;
   padding: 40px;
   
}
.cal button{
   justify-content: space-between;
    height: 40px;
    width: 40px;
    padding: 2px ;
}
.cal h1{
    padding: 10px;
}
input{
    height: 30px;
    width: 16rem;
    border-radius: 10px;
    border-color: white;
}
div p{
    border: white;
    height: fit-content;
    width: 16rem;
    background-color: whitesmoke;
    border-radius: 10px;
}